.EvidencePortal{
    width: 100%;
}

/* EvidencePortal.css */

.EvidencePortal {
    font-family: Arial, sans-serif;


  }
  
  .EvidencePortal-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .EvidencePortal-container-head {
    text-align: center;
  }
  
  .password-form {
    text-align: center;
  }
  
  .password-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .password-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .password-button:hover {
    background-color: #0056b3;
  }
  
  .EvidencePortal-search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .EvidencePortal-case-files {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .EvidencePortal-case-file {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .EvidencePortal-file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .EvidencePortal-file-header span {
    flex: 1;
  }
  
  .EvidencePortal-file-details {
    margin-top: 10px;
  }
  
  